


<div class="app-body">
  <div class="app-content">
    <div class="blue">
      <h1 class="title">Habitat et Humanisme</h1>
    </div>
  </div>

</div>
<div class="container">
  <div class="col-xs-12">
    <h4 class="center" style="margin: 0 0 48px;">
      Association de lutte contre le mal-logement et de réinsertion par le logement
    </h4>
  </div>
</div>
<div class="container">
  <div class="col-xs-12">
    <p class="center">
      Fondée en 1985 par <b>Bernard Devert</b>
    </p>
    <p class="center">
      Reconnue d’utilité publique
    </p>
    <p class="center">
      55 associations dans 80 départements
    </p>
    <p class="center">
      3500 bénévoles
    </p>
    <p class="center">
      350 salariés
    </p>
    <p class="center">
      30000 sympathisants
    </p>

  </div>
</div>


<div class="navbar navbar-absolute-bottom orange bottomBtnShadow">
  <div class="btn-group justified">
    <a href="#2" class="btn btn-navbar bottomBtn" > Question Suivante</a>
  </div>
</div>
