
<div class="blue">
  <h1 class="title">Questionnaire</h1>

</div>

<div class="logoContainer">
  <img src="images/heth_logo.svg" alt="" width="250px;" />
</div>

<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div ng-show="message_confirmation" class="alert alert-info">{{message_confirmation}}</div>

<form name="form" ng-submit="login()" role="form" id="loginForm">
      <div class="container">
        <div class="col-xs-12 center inputLogin ">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control lightGrey" autocorrect="off" ng-model="email" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Username is required</span>
        </div>
      </div>
      <div class="container">
        <div class="col-xs-12 center inputLogin">
          <label for="password">Mot de Passe</label>
          <i class="fa fa-lock"></i>
          <input type="password" name="password" id="password" class="form-control lightGrey" ng-model="password" required />
          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
      </div>
      <div class="container">
        <div class="col-xs-12 center">
          <button class="btn btn-lg orange whiteFont" type="submit" ng-disabled="form.$invalid || dataLoading" >Envoyer</button>
          <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </div>
</form>

<div class="col-xs-12 center" style="margin: 14px 0px 20px;">
  <a class="" style="font-size: 19px;" href="#inscription" ng-show="hideLogin">Inscription</a>
</div>
