<div class="app-body">
  <div class="app-content center">

    <div class="blue">
      <h1 class="title"> Mentions l&eacute;gales</h1>
    </div>

    <p>En application de la loi 2000-719 du 1er ao&ucirc;t 2000 relative &agrave; la libert&eacute; de communication, modifiant la loi 86-1067 du 30 septembre 1986 relative &agrave; la libert&eacute; de communication, vous trouverez ci-dessous les informations l&eacute;gales concernant le site une clé pour les mals logés:</p>

    <p class="orangeFont bold">Gestion &eacute;ditoriale et Directeur de la Publication</p>

    <p>F&eacute;d&eacute;ration Habitat et Humanisme Rhône, 9 rue Mathieu Varille, 69007 LYON - France T&eacute;l&eacute;phone : +33 (0)4 72 71 16 00 Fax : +33 (0)4 72 71 16 28</p>

    <p class="orangeFont bold">Protection des donn&eacute;es personnelles</p>

    <p>Conform&eacute;ment &agrave; la loi Informatique et Libert&eacute;s du 6 janvier 1978 (art. 34), vous disposez d&rsquo;un droit d&rsquo;acc&egrave;s, de rectification ou de suppression concernant les donn&eacute;es personnelles que nous pourrions &ecirc;tre amen&eacute;s &agrave; recueillir (donn&eacute;es renseign&eacute;es par vous).</p>

    <p class="orangeFont bold">Droits d&rsquo;auteur</p>

    <p>L&rsquo;ensemble de ce site rel&egrave;ve de la l&eacute;gislation fran&ccedil;aise et internationale sur le droit d&rsquo;auteur et la propri&eacute;t&eacute; intellectuelle. Tous les droits de reproduction sont r&eacute;serv&eacute;s, y compris pour les documents t&eacute;l&eacute;chargeables et les repr&eacute;sentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur quelque support que ce soit est formellement interdite sauf notre autorisation expresse.</p>

    <p class="orangeFont bold">Exactitude de l&rsquo;information</p>

    <p>Nous mettons tous nos moyens en &#339;uvre afin d&rsquo;offrir aux internautes un contenu exact. Cependant, nous ne garantissons pas la compl&eacute;tude, l&rsquo;exhaustivit&eacute; et l&rsquo;exactitude du contenu des informations et des services propos&eacute;s sur notre site. Malgr&eacute; tous les soins apport&eacute;s &agrave; la r&eacute;alisation de ce site et &agrave; son actualisation r&eacute;guli&egrave;re, des erreurs peuvent s&rsquo;&ecirc;tre gliss&eacute;es dans les informations et/ou documents pr&eacute;sent&eacute;s. Si vous en constatez n&rsquo;h&eacute;sitez pas &agrave; nous le faire savoir.</p>

    <p class="orangeFont bold">Conception de l'application</p>

    <p>Simplon Lyon</p>
  <p>352 cours Emile Zola</p>
  <p>69100 villeurbanne </p>

    <p class="orangeFont bold"> H&eacute;bergement du site</p>

    <p>Ce site Web est h&eacute;berg&eacute; par :</p>

    <p>Gandi SAS</p>
<p>63-65 boulevard Massena à Paris</p>
<p>75013 Paris</p>
<p>immatriculée sous le numéro 423 093 459 RCS PARIS</p>


    <div class="container">
      <div class="col-xs-12">
        <div style="padding: 30px 0">
        </div>
      </div>
    </div>


  </div>
</div>
