


<div class="app-body">
  <div class="app-content">
    <div class="blue">
      <h1 class="title">Question 1</h1>
    </div>
    <div class="container">
      <h4 class="col-xs-12 question">
        Connaissez-vous Habitat et Humanisme ?
      </h4>
    </div>

    <img class="questionImage fadeIn" onload="this.style.opacity='1';" src="images/BernardDEVERTSmall.jpg" alt="" />

    <div class="container-fluid" style="text-align: center; margin: 30px 0;">
      <div class="col-xs-6">
        <a style="width: 70px;" class="btn btn-lg orange whiteFont" href="#info"  ng-click="setQuestionValue('no')" >NON</a>
      </div>
      <div class="col-xs-6">
          <a style="width: 70px;" class="btn btn-lg orange whiteFont" href="#2" ng-click="setQuestionValue('yes')">OUI</a>
      </div>
    </div>
  </div>
</div>
