
<div class="blue">
  <h1 class="title">Recupération</h1>
</div>

<div class="logoContainer">
  <img src="images/heth_logo.svg" alt="" width="250px;" />
</div>

<div ng-show="message_confirmation" class="alert alert-info">{{message_confirmation}}</div>

<form name="form" ng-submit="recuperatePwd()" ng-show="!hideEmailInput" role="form" id="loginForm">
      <div class="container">
        <div class="col-xs-12 center inputLogin ">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control lightGrey" autocorrect="off" ng-model="recupe_email" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
      </div>

      <div class="container">
        <div class="col-xs-12 center">
          <button class="btn btn-lg orange whiteFont" type="submit" ng-disabled="form.$invalid || dataLoading" >Envoyer</button>
          <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </div>
</form>

<div class="container-fluid ng-hide" ng-show="hideEmailInput" style="text-align: center; margin: 30px 0;">
  <div class="col-xs-12">
    <a class="btn btn-lg orange whiteFont" href="#login" >Retour</a>
  </div>
</div>
