<div class="blue">
  <h1 class="title">Inscription</h1>
</div>



<div ng-show="error" class="alert alert-danger">{{error}}</div>


<form name="form" ng-submit="subscribe()" role="form" id="subscribeForm">
  <div class="container">
    <div class="col-xs-12 center inputLogin ">
        <label for="firstName">Prénom</label>
        <input type="text" name="firtname" id="firtname" class="form-control lightGrey" autocomplete="off" autocorrect="off" ng-model="subSurname" required />
        <span ng-show="form.firstname.$dirty && form.firstname.$error.required" class="help-block">Veuillez remplir votre prénom</span>
    </div>
    </div>
    <div class="container">
      <div class="col-xs-12 center inputLogin ">
        <label for="name">Nom</label>
        <input type="text" name="name" id="name" class="form-control lightGrey" autocomplete="off" autocorrect="off" ng-model="subName" required />
        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Veuillez remplir votre nom.</span>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 center inputLogin ">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control lightGrey" autocomplete="off" autocorrect="off" ng-model="subEmail" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Veuillez remplir une adresse email valide.</span>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 center inputLogin ">
        <label for="school">Etablissement</label>
        <select class="form-control lightGrey" name="school" ng-model="school" required>
          <option disabled selected value value="0">Choisissez votre établissement</option>
          <option ng-repeat="school in schools" ng-value="school">{{school}}</option>
        </select>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 center inputLogin ">
        <label for="password">Mot de Passe</label>
        <i class="fa fa-lock"></i>
        <input type="password" name="password" id="password" class="form-control lightGrey" ng-model="subPassword" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Veuillez remplir votre mot de passe.</span>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 center " style="margin-bottom: 24px;">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-lg orange whiteFont">Inscription</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </div>
</form>
